<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Flask Project</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header>
<h1>All about the Beagle Dog</h1>
<h2>America's favorite pet</h2>
    </header>

<section>
    <h3>Three Quick Beagle Facts</h3>
    <ol>
        <li>Beagle means "Loudmouth" in French</li>
        <li>Famous cartoon dog Snoopy is a beagle</li>
        <li>The average beagle weighs between 18 and 30 pounds</li>
    </ol>
    <a href="https://dogtime.com/dog-breeds/beagle">Learn more about Beagles Here</a>
</section>
<section>
    <a href="/dalmatian"><p>Learn about dalmatians</p></a>
    <a href="/dogTable">Learn more about multiple breeds</a>
    <a href="/lab">Learn more about labs</a>
</section>
<aside>
    <img src="/static/beagle1.jpg" alt="Photo of a beagle" />
    <img src="/static/beagle2.jpg" alt="Another photo of a beagle" />
</aside>

<footer><a href="/logout">Click here to logout</a></footer>

</body>
</html>