<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All About Dalmatians</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header>

    <p>Date: {{ get_current_date }}</p>
    <h1>Dalmatians</h1>
    <h2> America's favorite Dog</h2>
 
</header>
<section>
       <ul>
       <li>Damlmatians are known internationally for their iconic spots</li>
        <li>One of the more energetic breeds, dalmatians need plenty of exercise</li>
        <li>While they have historically worked in firehouses, the dalmatian makes a great family pet</li>
    </ul>

    <a href="https://www.akc.org/dog-breeds/dalmatian/">Learn More about Dalmatians</a>
</section>
<section>
    <a href="/beagle"><p>Learn about beagles</p></a>
    <a href="/dogTable">Learn more about multiple breeds</a>
    <a href="/lab">Learn more about labs</a>
</section>
<aside>
    <img src="/static/dalmatian1.jpg" alt="Photo of Dalmatian"/>
    <img src="/static/dalmatian2.jpg" alt="Another Photo of Dalmatian"/>
</aside>

<footer><a href="/logout">Click here to logout</a></footer>

</body>
</html>