<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table of Information for each dog breed</title>
</head>
<body>

<section>
    <a href="/dalmatian"><p>Learn about dalmatians</p></a>
    <a href="/beagle">Learn more about beagles</a>
    <a href="/lab">Learn more about labs</a>
</section>
<table>
    <tr>
        <th>Breed Name</th>
        <th>Average Adult Weight</th>
        <th>Coat Colors</th>
    </tr>
    <tr>
        <td>Labrador Retriever</td>
        <td>65-79 lbs</td>
        <td>Multiple</td>
    </tr>
    <tr>
        <td>Beagle</td>
        <td>22-24 lbs</td>
        <td>Brown, White, Black</td>
    </tr>
    <tr>
        <td>Dalmatian</td>
        <td>33-71 lbs</td>
        <td>Black and white (spotted)</td>
    </tr>
</table>

<footer><a href="/logout">Click here to logout</a></footer>

</body>
</html>