<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Labrador Retriever</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header>

    <h1>The Labrador Retirever</h1>
    <h2>An American Staple</h2>
</header>
<section>
    <ol>
        <h3>Three Quick Lab Facts</h3>
        <ul>Labs are among the most water-loving breeds</ul>
        <ul>Labs come in three coat colors: yelllow, black and chocolate</ul>
        <ul>Labs are hunting dogs, as they were duck retrievers in England in the 1800s</ul>
    </ol>
    <a href="https://www.akc.org/expert-advice/lifestyle/8-facts-about-labrador-retrievers/">Learn More about Labrador Retrievers</a>
</section>
<section>
    <a href="/dalmatian"><p>Learn about dalmatians</p></a>
    <a href="/dogTable">Learn more about multiple breeds</a>
    <a href="/beagle">Learn more about beagles</a>
</section>
<aside>
    <img src="/static/lab1.png" alt="Photo of Labrador Retriever" />
    <img src="/static/lab2.jpg" alt="Another Photo of Labrador Retriever" />
</aside>

<footer><a href="/logout">Click here to logout</a></footer>


</body>
</html>