<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Login Form</title>

</head>
<body>
{% block welcome %}
<h1>Welcome to the Log in page</h1>
{% endblock welcome %}
{% block forms %}
<form action="" method="post">
    <p>
        <label for="username">Username</label>
        <input type="text" name="username">
    </p>
    <p>
        <label for="pwd">Password</label>
        <input type="password" name="pwd">
    </p>

    <p>
        <input type="submit">
    </p>
</form>
{% endblock %}

{% if error %}
    <p>Error: {{ error }} </p>
{% endif %}

</body>
</html>