<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Home Page</title>
</head>
<body>
<h1>Welcome to the Home page</h1>
<h2>Links</h2>
<ul>
    <li>
        <a href="\lab">Learn about Labs</a>
    </li>
     <li>
        <a href="\dalmatian">Learn about dalmatians</a>
    </li>
     <li>
        <a href="\beagle">Learn about beagles</a>
    </li>
     <li>
        <a href="\dogTable">Learn about all dogs</a>
    </li>
</ul>
<h3>Want to change your Password?</h3>
<a href="\changepwd">Click Here</a>


</body>
</html>